
html {
    box-sizing: border-box;
}

li {
    list-style-type: none;
    background-color: grey;
}

li img {
    max-height: 200px;
    display: block;
}

header {
    display: flex;
    min-height: 120px;
    background-color: green;
    justify-content: space-between;
}

header div {
    display: inline-block;
    height: 100%;
    max-width: 25%;
}

main  {
    height: 100%;
}

main div {
    background-color: #ede;
}

.selected {
    background-color: red;
}

