/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ************************************ */



* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
}

ul {
display: flex;
flex-direction: column;
align-items: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    background-color: #ddd;
    width: 280px;
    height: 280px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 6px;
}

li img {
    max-height: 200px;
    max-width: 180px;
    display: block;
    margin: 10px;
    object-fit: scale-down;
    margin: auto;
}

header {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #d33;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    max-width: 980px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

main  {
    height: 100%;
    margin-top: 100px;

}

main div {
    background-color: #333;
}

.selected {
    background-color: red;
}

.error-msg {
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    transform: translateX(50%);
    top: 88px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
}

.hide {
    display: none;
}

input {
    font-size: 1.2em;
}

div.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 100vh;
}

button.load-more {
    width: 120px;
    font-size: 1.2em;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

input.go:hover {
    cursor: pointer;
}

li:hover {
    filter: brightness(0.86);
    cursor: pointer;
}